.jumbotron{
	background-color: yellow;
	color: black; 
	margin-top: 50px;
}

.card-hotel{
	flex: 1 200px;
	margin-top: 10px;
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;

}

.footer-address-icon{
	padding-right: 10px;
}

.btn-reserva-icon{
	padding-right: 5px;
}

.img-discount{
	width: 100%;
	height: 100%;
}

.tab-content {
	padding-top: 10px;
}

.row-info {
	padding-bottom: 20px;
}
footer{
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}