.jumbotron {
  background-image: url(http://getwallpapers.com/wallpaper/full/e/e/8/640460.jpg);
  color: black;
  background-color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.btn-reserva-icon {
  padding-right: 5px;
}
.tab-content {
  padding-top: 10px;
}
.row-info {
  padding-bottom: 20px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #ffff80;
  margin-top: 10px;
  margin-bottom: 0px;
}
